{% extends "::base.html.twig" %}	

{% block login %}
    <ul class="nav navbar-nav navbar-right">	                	
    	{% if logged == false %}
            <li><a id="signup" href="/subscribe">Sign Up</a></li>
            <li><a id="login" href="#">Log In</a></li>
        {% endif %}
        {% if logged == true %}	                	
            <li><a href="/user/show/{{session.id}}"><span class="glyphicon glyphicon-user"></span><span>{{ session.login }}</span></a></li>
            <li><a href="/Logout">Logout</a></li>
       	{% endif %}		            
    </ul>
{% endblock	%}

{% block content %}

    <!--|||||||||||||||||||||||||||||||||||||||||-->
	{# Login Popup #}
	{% if logged == false %}
		<div class="overlay" id="login_overlay">
	        <div class="popup login" id="popup_login">
	            <a class="close" href="#">X</a>
	            <div class="logFB">
	                <img src="http://i.imgur.com/XG0zHdW.png" alt="Login with Facebook">
	            </div>
	            <p>Or log in with email</p>
	            <form role="form" method="post" action="/Login_check">
	                <div class="form-group">
	                    <label for="form_login" class="required">*Login</label>
	                    <input type="text" id="form_login" name="login" required="required" placeholder="johndoe01"/>
	                </div>
	                <div class="form-group">
	                    <label for="form_hash_first" class="required">*Password</label>
	                    <input type="password" id="form_hash_first" name="password" required="required"/>
	                </div>
	                <div class="checkbox row">
	                    <label class="check col-xs-6 col-sm-6 col-md-6"><input class="check" type="checkbox" value="">Remember me</label>
	                    <a href="#"><span class="col-xs-6 col-sm-6 col-md-6 hover text-right">Forgot password?</span></a>
	                </div>
	                <div class="form-group row">
	                    <button class="col-xs-12 col-sm-12 col-md-12 btn" type="submit" id="form_save">Log in</button>
	                </div>
	            </form>
	            <p>New on Workit? <a class="hover" href="">Sign Up</a></p>
	        </div>
	    </div>
	    {# Signup Popup #}
        <div class="overlay" id="signup_overlay">
	        <div class="popup signup" id="popup_signup">
	            <a class="close" href="#">X</a>
	            <div class="signFB">
	                <img src="http://i.imgur.com/XG0zHdW.png" alt="SignUp with Facebook">
	            </div>
	            <p>Or sign up with email</p>
		            {{ form_start(subscribe_form )}}
		                
		            {{ form_end(subscribe_form )}}
	            <p>By signing up you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
	            <span>Already have an account? <a class="hover" href="login.php">Log In</a></span>
	        </div>
    	</div>
	{% endif %}
    <!--|||||||||||||||||||||||||||||||||||||||||-->  

    {# END navbar #}
	<header id="bg">
		<h1 class="text-center">Get started today</h1>
		<h2 class="text-center">Discover new crowdfunding projects and start your own project to raise funds.</h2>
		<a class="btn btn-lg center-block create-btn" href="/project/create">Create a project</a>
	</header>
	<!-- end HEADER -->
	<div class="container">
		<!-- SECTION -->
		<section>
			<!-- PROJECTS -->
			<div id="freshProjects" class="row">
				<h1 class="col-xs-8 col-sm-10 col-md-11">Fresh projects</h1>
				<a class="col-xs-4 col-sm-2 col-md-1 btn shall-btn" href="/project/show">Show all</a>
				<div id="freshProjectsRandom">

					<!--|||||||||||||||||||||||||||||||||||||||||-->
					{% for project in freshprojects %}
						<a href="/project/show/{{ project.id }}">
							<div class="thumbnail col-xs-12 col-sm-6 col-md-3">
								<img src="{{project.cover}}" class="img-responsive" alt="Responsive image">
								<div class="caption">
									<h1>{{project.title}}</h1>
									<p>{{project.abstract}}</p>
									<ul class="list-unstyled">
										<li><a href="/user/show/{{project.user.id}}"><span class="glyphicon glyphicon-user"></span>{{project.user.login}}</a></li>
										<li><span class="glyphicon glyphicon-tags"></span>{{project.category.type}}</li>
									</ul>
									<div class="progress">
										 {% if pourcent[project.id] < 100 %}
	                                   	 <div class="progress-bar" role="progressbar" aria-valuenow="{{ pourcent[project.id] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{pourcent[project.id]}}%;">{{ pourcent[project.id]|round }} 
	                                   	 	%</div>
	                                {% endif %}
	                                {% if pourcent[project.id] > 100 %}
	                                   	 <div class="progress-bar" role="progressbar" aria-valuenow="{{ pourcent[project.id] }}" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">{{ pourcent[project.id]|round }} 
	                                   	 	%</div>
	                                {% endif %}
									</div>
									<ul class="list-unstyled row">
										<li class="col-xs-3">
											<p>${{project.amount}}</p>
											<p>Goal</p>
										</li>
										<li class="col-xs-3">
											<p>€{{ donations[ project.id ] }}</p>
											<p>Collected</p>
										</li>
										<li class="col-xs-3">
											<p>{{ dayLeft[  project.id  ] }}</p>
											<p>Days left</p>
										</li>
										<li class="col-xs-3">
											<p>{{ donaters[ project.id ]|length }}</p>
											<p>Workiters</p>
										</li>
									</ul>
								</div>
							</div>	
						</a>
					{% endfor %}
					<!--|||||||||||||||||||||||||||||||||||||||||-->
				</div>
			</div><!-- end PROJECTS -->
			<!-- CATEGORIES -->
			<div id="freshCats" class="row">
				<h1 class="col-xs-8 col-sm-10 col-md-11">Fresh categories</h1>
				<a class="col-xs-4 col-sm-2 col-md-1 btn shall-btn" href="/project/show">Show all</a>
				<div id="freshCatsRandom" class="row">
					<!--|||||||||||||||||||||||||||||||||||||||||-->
					{% for category in categories %}
						<div class="catsThumb col-xs-6 col-sm-3 col-md-3">
							<a class="pic-link" href="#">
								<img class="img-responsive" src="{{category_pics['Sports']}}" alt="">
								<span class="glyphicon glyphicon-camera"></span>
								<span>{{category.type}}</span>
							</a>
						</div>
					{% endfor %}
					<!--|||||||||||||||||||||||||||||||||||||||||-->				
				</div>
			</div>
			<!-- end CATEGORIES -->
			<!-- HIGHLIGHTS -->
			<div id="commHighlights" class="hidden-xs">
				<h1 class="col-xs-8 col-sm-10 col-md-11">Community Highlights</h1>
				{% for project in isFinished %}
					<div id="commHighlightsRandom" class="row">
						<div class="commHighlightsThumb col-sm-6 col-md-6 col-lg-3">
							<img class="img-responsive" src="{{ project.cover }}" alt="{{ project.title }}">	
							<span>{{ project.title }}</span>
						</div>						
					</div> 				
				{% endfor %}
			</div><!-- end HIGHLIGHTS -->
		</section><!-- end SECTION -->
	</div>
{% endblock %}
