{% extends '::base.html.twig' %}

{% block login %}
    <ul class="nav navbar-nav navbar-right">                        
        {% if logged == false %}
            <li><a id="signup" href="/subscribe">Sign Up</a></li>
            <li><a id="login" href="#">Log In</a></li>
        {% endif %}
        {% if logged == true %}                     
            <li><a href="/user/show/{{ project.user.id }}"><span class="glyphicon glyphicon-user"></span><span>{{ project.user.login }}</span></a></li>
            <li><a href="/Logout">Logout</a></li>
        {% endif %}                 
    </ul>
{% endblock %}

{% block content %}

    <!--|||||||||||||||||||||||||||||||||||||||||-->
    {# Login Popup #}
    {% if logged == false %}
        <div class="overlay" id="login_overlay">
            <div class="login" id="popup_login">
                <a class="close" href="#">X</a>
                <div class="logFB">
                    <img src="http://i.imgur.com/XG0zHdW.png" alt="Login with Facebook">
                </div>
                <p>Or log in with email</p>
                <form role="form" method="post" action="/Login_check">
                    <div class="form-group">
                        <label for="form_login" class="required">*Login</label>
                        <input type="text" id="form_login" name="login" required="required" placeholder="johndoe01"/>
                    </div>
                    <div class="form-group">
                        <label for="form_hash_first" class="required">*Password</label>
                        <input type="password" id="form_hash_first" name="password" required="required"/>
                    </div>
                    <div class="checkbox row">
                        <label class="check col-xs-6 col-sm-6 col-md-6"><input class="check" type="checkbox" value="">Remember me</label>
                        <a href="#"><span class="col-xs-6 col-sm-6 col-md-6 hover text-right">Forgot password?</span></a>
                    </div>
                    <div class="form-group row">
                        <button class="col-xs-12 col-sm-12 col-md-12 btn" type="submit" id="form_save">Log in</button>
                    </div>
                </form>
                <p>New on Workit? <a class="hover" href="">Sign Up</a></p>
            </div>
        </div>
        {# Signup Popup #}
        <div class="overlay" id="signup_overlay">
            <div class="signup" id="popup_signup">
                <a class="close" href="#">X</a>
                <div class="signFB">
                    <img src="http://i.imgur.com/XG0zHdW.png" alt="SignUp with Facebook">
                </div>
                <p>Or sign up with email</p>
                    {{ form_start(subscribe_form )}}
                        
                    {{ form_end(subscribe_form )}}
                <p>By signing up you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
                <span>Already have an account? <a class="hover" href="">Log In</a></span>
            </div>
        </div>
    {% endif %}
    <!--##################################################################-->
	
	<!-- BACK BTN -->
	<div id="mobile-btn" class="row">
		<div class="col-xs-12 col-sm-12 text-center">
			<ul>
				<li class="col-xs-4 col-sm-3 pull-left"><a href="/project/show/{{ project.id }}">Back</a></li>
			</ul>
		</div>
	</div><!-- end BACK BTN -->
	<!-- HEADER -->
	<header class="headerAll row">
		<h1 class="text-center">{{ project.title }}</h1>
		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
			<ul>
				<li class="col-sm-4"><a href="#"><span class="glyphicon glyphicon-user"></span>{{ project.user.login }}</a></li>
				<li class="col-sm-4"><a href="#"><span class="glyphicon glyphicon-tags"></span>{{ project.category.type }}</a></li>
				<li class="col-sm-4"><a href="#"><span class="glyphicon glyphicon-map-marker"></span>{{ project.user.location }}</a></li>
			</ul>
		</div>
	</header><!-- end HEADER -->
	<!-- CONTAINER -->
	<div class="container ct">
		<!-- SECTION -->
		<section>
			<!-- TABS -->
			<div class="tab row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<ul class="row">
						<li class="col-xs-6 col-sm-6 col-md-6"><a href="#tabs-1">Contribute</a></li>
						<li class="col-xs-6 col-sm-6 col-md-6"><a href="#tabs-2">Pay</a></li>
					</ul>
				</div>
				<div class="allTabs row">
					<!-- TABS-1 CONTRIBUTION -->
					<div id="tabs-1" class="tabContrib">
						<h1>Choose the amount of your contribution</h1>
							<div class="form-group col-xs-12 col-sm-4 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">		
								{# <input type="text" class="form-control" placeholder="$"> #}
								{{ form_start(form) }}
									{{ form_widget(form.amount) }}	
									{{ form_errors(form.amount) }}							
							</div>
							<div class="checkbox">
								<label>{{ form_widget(form.hidden) }}I want to hide the amount of my contribution</label>							
							</div>
							<!-- REWARDS -->
							<div class="rewardsCt">								
								<h1>Choose your reward!</h1>
								<!--##########################################################-->
								{% if goodies[0][0] == null %}
                                	<p>No Goodies for this project !</p>
                            	{% else %}
                            		{% for i in 0..goodies|length -1 %} 
										<a class="goodiesAction" href="#">
											<div class="rewDetail">
												<h2>${{ goodies[i][2] }}<span>{{ goodies[i][1] }}</span></h2>
												<p>{{ goodies[i][3] }}</p>
												<ul class="list-unstyled row">
													<li class="col-md-4">
														<p>Claimed</p>
														<p>{{ random(98) }}</p>
													</li>
													<li class="col-md-4">
														<p>Estimated delivery</p>
														<p>November 2015</p>
													</li>
													<li class="col-md-4">
														<p>Ship to</p>
														<p>Worldwide</p>
													</li>
												</ul>
											</div>
										</a>                   
                                    
                               		{% endfor %}
                            	{% endif %}
								<!--##########################################################-->
								
							</div><!-- end REWARDS -->
							<div class="checkbox">
								<label><input type="checkbox" value="">No thanks, I just wanna help the project</label>
							</div>
							<h2>Total: <span class="totalOutput"></span></h2>
							{{ form_widget(form.save) }}
							{{ form_end(form) }}
					</div><!-- end TABS-1 CONTRIBUTION -->
					<!-- TABS-2 PAY -->
					<div id="tabs-2" class="tabPay row">
						<h1>Summary</h1>
						<div class="row">
							<div class="summary row">
								<p class="col-xs-6 col-sm-6 col-md-6 pull-left">Name:</p>
								<p class="col-xs-6 col-sm-6 col-md-6 pull-right">{{ project.user.login }}</p>
								<p class="col-xs-6 col-sm-6 col-md-6 pull-left">Reward:</p>
								<p class="col-xs-6 col-sm-6 col-md-6 pull-right">None</p>
								<p class="col-xs-6 col-sm-6 col-md-6 pull-left">Amount:</p>
								<p class="col-xs-6 col-sm-6 col-md-6 pull-right totalOutput"></p>
							</div>
							<div class="total row">
								<p class="col-xs-6 col-sm-6 col-md-6 pull-left">Total:</p>
								<p class="col-xs-6 col-sm-6 col-md-6 pull-right totalOutput"></p>
							</div>
						</div>
						<form role="form row">
							{# <button type="submit" class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 btn submit-btn">Pay</button> #}
							
						</form>
					</div><!-- end TABS-2 PAY -->
				</div>
			</div><!-- end TABS -->
		</section><!-- end SECTION -->
	</div><!-- end CONTAINER -->
{% endblock %}




{# 

{% block body -%}
    <h1>Donation creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
       <a href="{{ path('_project_showOne', { 'id':  id }) }}">
            Back to the project
        </a>
    </li>
</ul>
 #}
